/* Modal */
#health-report-modal img {
  max-width: 100%;
  height: auto;
}

#performance-report-modal img {
  max-width: 100%;
  height: auto;
}

/* Modal */

/* Like Bootstrap style */

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background-color-transparent {
  background-color: transparent !important;
}

.text-transform-none {
  text-transform: none !important
}

.w-150 {
  width: 150px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-color-support-how-to-mount {
  background-color: #303030;
}

.h-110 {
  height: 110px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.w-237 {
  width: 237px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.text-color-white {
  color: #fff !important;
}

.border-top-yellow {
  border-top: 1px solid #ffe75f;
}

.border-bottom-2px-white {
  border-bottom: 2px solid #fff !important;
}

.border-top-2px-white {
  border-top: 2px solid #fff !important;
}

/* Like Bootstrap style */

/* Scrollbar style */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear,
      40% 0%,
      75% 84%,
      from(#ffff00),
      to(#ffeb3b),
      color-stop(0.6, #ffeb3b));
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Scrollbar style */

/* Default style */

.default-dark-color-text {
  color: #828282 !important;
}

.default-color-text {
  color: #ffe75f;
}

.default-color-text:hover {
  color: #ffe75f;
}

/* Default style */

/* Other styles */

.border-text-concentrator-board-junction-boxes-color {
  border: 1px solid #1c1b1b !important;
}

.no-photo {
  display: table;
  background: #eee;
  /* optional */
  width: 100%;
  height: 250px;
  text-align: center;
  /* optional */
}

.no-photo> :first-child {
  display: table-cell;
  vertical-align: middle;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffe75f;
}

.text-predict-performance {
  font-weight: bold;
  font-style: italic;
  font-size: 12px !important;
}

/* Other styles */